
.about_banner {
    margin-top: -1rem !important;
    background-size: cover;
    background-image: url(../img/vanessa_about.jpg);
    height: 55rem;
    width: 100%;
    
}

.about_banner_header {
    
    
}

.about_sub_banner_header {
    
    
}